/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
  /* remove default styles for ul and li */

  ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }

/* 
start of css
*/

:root {
    --background-color: rgb(19, 19, 25);
    --background--button: #1e1e29;
    --background--color--box: rgb(30, 30, 79);
    --background-wrapper:rgb(25, 25, 30)
}

body { 
    background-color: var(--background-color);
    max-width: 750px; /* Set a max width for larger screens */
    margin: 0 auto; /* Center the body */   
padding: 0 1rem ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
    }

#search-box {
    border-width: 0;
    color: gray;
    background-color: var(--background--button);
    border-radius: 0.5rem;
padding: 1.1rem 1.3rem;
width: 100%;
}

.dashboard {
margin-top: 2rem;
background-color: var(--background-wrapper);
padding: 0.8rem;
border-radius: 0.5rem;
}

#search-icon {
    border-radius: 0.5rem;
    border: none;
    padding: 1rem 0.5rem;
    background-color: var(--background--button);    
}
#search-icon svg {fill: rgb(151, 177, 240);}

.search-section {
    display: flex;
    gap: 1rem;
}

.display-info{
    margin-top: 1rem;
    background-color: var(--background--color--box);
    color: #fafafa;
    border-radius: 0.5rem;
padding: 1rem;
height: 20rem;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.address {
    font-weight: 700;
}

.right-section p {
    font-weight: 700;
}

time {
    color: lightgray;
}

.location-info {
    display: flex;
    justify-content: space-between;
}

.weather-info{ 
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tempature {
    font-size: 2.6rem;
}

.weather-overview {
margin-top: 0.5rem;
    background-color: var(--background-wrapper);
    padding: 0.8rem;
    border-radius: 0.5rem;}



    .list-weather-overview li {
        display: flex;
        justify-content: space-between;
    }
    .list-weather-overview li:not(:first-child){
        border-top: 0.5px solid gray;
    }
    .list-weather-overview li span:first-child{
        color: lightgray;
    }

    .list-weather-overview li span:not(:first-child){
font-weight: bold;   
 }
    .list-weather-overview li span {
        display: flex;
    margin-top:  1rem;
margin-bottom: 1rem;}

    .list-weather-overview li span svg {
        fill: lightgray;
        margin-right: 0.2rem;
    }

    #future-weather {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
     gap:  0.7rem;
     background-color: var(--background--color--box);
border-radius: 0.5rem;
padding: 1rem;    }


.card-weather-day {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: fit-content;
border-radius: 0.5rem;
}

.card-tempature { 
  color: #fafafa;
  font-weight: 700;
}

.card-weather-day .day { 
  color: #d3d3d3d3;
}
  
@media (min-width: 750px) {
    body {
        padding: 0 2rem; /* Increase padding on larger screens */
    }
}
